# pnpm behavior — strict but pragmatic.
auto-install-peers=true
strict-peer-dependencies=false
dedupe-peer-dependents=true
prefer-workspace-packages=true
link-workspace-packages=true
save-workspace-protocol=rolling
shamefully-hoist=false
resolution-mode=highest
engine-strict=true
public-hoist-pattern[]=*types*
public-hoist-pattern[]=*eslint*
public-hoist-pattern[]=*prettier*
